@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header-section{
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    max-width: 1440px;
    min-height: 652px;
    /* margin-top: 131px; */
    margin-bottom: 70px;
}
.profile-image{
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
    margin-top: 20px;

}
.profile-image img{
    width: 100%;
}
.header-content{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 4506px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header-title{
    color: rgb(13,19,33);
    width: 998px;
    height: 136px;
    font-family: Azeret Mono;
    font-size: 42px;
    line-height: 68px;
    font-weight: 800;
    margin: 24px 0px;
    flex: none;
    letter-spacing: 0%;
    text-align: center;
    position: static;
}
.header-para{
    width: 852px;
    height: 52px;
    margin: 12px 0;
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    text-align: center;
    flex: none;
    letter-spacing: 0%;
    color: rgb(13,19,33);
    position: static;
}
.header-btn{
    width: 270px;
    height: 60px;
    margin: 35px 0;
    padding: 15px 18px;
    background-color: rgb(13,19,33);
    border: none;
    border-radius: 12px;
    flex: none;
}
.header-btn a{
    color: rgb(255,255,255);
    font-family: Azeret Mono;
    font-weight: 600px;
    font-size: 20px;
    letter-spacing: 0%;
    text-decoration: none;
}
.details-section{
    width: 830px;
    height: 880px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    padding: 60px 90px;
    border-radius: 18px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 70px;
}
.details-content{
    width: 900px;
    height: 115px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    position: static;
}
.detail-title{
    width: 900px;
    height: 39px;
    padding: 0;
    flex: none;
    align-self: stretch;
    text-align: center;
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0%;
}
.detail-para{
    width: 860px;
    height: 75px;
    padding: 0;
    margin: 0 auto;
    margin-top: 24px;
    text-align: left;
    align-items: center;
    align-self: stretch;
    opacity: 0.7;
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    flex: none;
}
.details-box{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div1-design{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 65px;
    margin-top: 20px;
    padding: 18px 20px;
    background: linear-gradient(90.00deg,rgb(255,255,255), rgb(255,255,255,0) 100%);
    border-radius: 16px;
}
.div2-design{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 65px;
    margin-top: 20px;
    padding: 18px 20px;
    background: linear-gradient(90.00deg, rgb(255,255,255,0), rgb(255,255,255) 100%);
    border-radius: 16px;
}
.div1-content{
    width: 440px;
    height: 174.01px;
}
.div1-title{
    color: rgb(13,19,33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.div1-para{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin: 4px 0;
    opacity: 0.7;
    letter-spacing: 0%;
    text-align: left;
}
.div1-btn{
    width: 150px;
    height: 42px;
    padding: 10px 16px;border: 1px solid rgb(13,19,33);
    opacity: 0.7;
}
.div1-image{
    width: 259.56px;
    height: 175.01px;
    left: 0.36%;
    right: -0.36%;
}
.div1-image img{
    width: 100%;
    height: 100%;
}
.inspiration-section{
    width: 1000px;
    height: 633px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 110px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.inpiration-content{
    width: 780px;
    height: 110px;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.inspi-title{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center; 
    flex: none;
}
.inspi-para{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center; 
    align-self: stretch;
    margin: 24px 0;
    opacity: 0.7;
    flex: none;
}
.inspiration-video{
    width: 1000px;
    height: 480px;
    margin-top: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.07);
    border-radius: 16px;
}
.inspiration-video iframe{
    width: 920px;
    height: 430px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    align-self: stretch;
    border-radius: 16px;
    flex-grow: 0;
    flex: none;
}
.skills-section{
    width: 1000px;
    height: 430px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 90px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.skills-content{
    width: 1000px;
    height: 110px;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.skill-title{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center; 
    flex: none;
}
.skill-para{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center; 
    align-self: stretch;
    margin: 24px 0;
    opacity: 0.7;
    flex: none;
}
.skills-card{
    width: 1000px;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.skill-div1{
    width: 322px;
    height: 262px;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.skill-box{
    width: 285px;
    height: 198px;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box-title{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 23px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left; 
    align-self: stretch;
    margin: 10px 0;
}
.box-para{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left; 
    align-self: stretch;
    margin: 8px 0;
    opacity: 0.7;
    flex: none;
}
.skill-btn{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left; 
    align-self: stretch;
    flex: none;
    text-decoration: underline;
}
.feedback-section{
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url(./assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: overlay;
    border-radius: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.feedback-box{
    width: 900px;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.feedback-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.feedbck-tile{
    color: rgb(255,255,255);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feedback-para{
    width: 650px;
    color: rgb(255,255,255);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left; 
    align-self: stretch;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 5px;
    opacity: 0.7;
}
.feedback-inputbox{
    align-items: center;
    width: 548px;
    height: 40px;
    margin: 0 auto;
    margin-top: 14px;
}
#feedback{
    width: 75%;
    height: 100%;
    border-radius: 8px;
    border: none;
    padding: 0 8px;
}
#submit-btn{
    background-color: rgb(255,255,255);
    color: black;
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 8px;
}

.footer-section{
    width: 1240px;
    height: 32px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
    padding: 32px 50px;
}
.footer-title{
    color: rgb(13,19,33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 70px;
}
.footer-icon{
    width: 180px;
    text-align: center;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}